.order-form {
  font-family: SimSun, serif; /* 使用宋体 */
  max-width: 210mm; /* A4纸宽度 */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.order-form table {
  width: 100%;
  border-collapse: collapse;
}

.order-form th,
.order-form td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
  font-size: 12pt;
}

.payment-terms {
  font-size: 12pt;
  border: 1px solid #000;
  border-bottom: none;
  border-top: none;
}

.payment-terms p {
  border-bottom: 1px solid #000;
  border-bottom: 1px solid #000;
  line-height: 32px;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0;
}

.signatures {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #000;
  border-top: none;
}

.signature-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  align-items: center;
}

.signature-column:nth-child(2) {
  border-left: 1px solid #000;
}

.stamp {
  flex: 1;
  position: relative;
  height: 300px;
  width: 100%;
  border-bottom: 1px solid #000;
  padding: 10px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stamp .stamp-img {
  width: 300px;
  height: 300px;
}

.signature-column .company-name,
.signature-column .time {
  line-height: 32px;
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.signature-column .time {
  border-bottom: none;
}

@media print {
  .order-form {
    border: none;
    padding: 0;
  }

  button {
    display: none;
  }
}
